{% extends 'airline/base.html' %}

{% block content %}
<h1 class="title">Delete Seat Layout Position</h1>
<p>Are you sure you want to delete the seat layout position: <strong>Row {{ seat_layout_position.row }}, Column {{ seat_layout_position.column }} for {{ seat_layout_position.seat_layout.layout_name }}</strong>?</p>
<form method="post">
    {% csrf_token %}
    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-danger">Delete</button>
        </div>
        <div class="control">
            <a href="{% url 'seat_layout_position_list' %}" class="button is-link is-light">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}
