# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Environments
.env
venv/
env/

# Django stuff:
*.log
*.pot
*.mo
*.sqlite3
db.sqlite3
media/

# IDEs and editors
.idea/
.vscode/
*.swp
*~
.DS_Store

# OS-specific files
.Trash/
venv/
