{% extends 'gestion/base.html' %}

{% block title %}Detalle del Vuelo{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <h1>Detalle del Vuelo: {{ vuelo.origen }} a {{ vuelo.destino }}</h1>
    <h2>Asientos</h2>
    <div class="d-flex flex-wrap">
        {% for asiento in asientos %}
            {% if asiento.estado == 'disponible' %}
                <a href="{% url 'reservar_asiento' asiento.id %}" class="text-decoration-none">
                    <div class="asiento disponible">
                        {{ asiento.numero }}
                    </div>
                </a>
            {% else %}
                <div class="asiento {{ asiento.estado }}" style="pointer-events: none; cursor: default;">
                    {{ asiento.numero }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
