{% extends 'gestion/base.html' %}
{% load i18n %}

{% block title %}{% trans "Edit Profile" %}{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">{% trans "Edit Profile" %}</h1>

    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
                    <a href="{% url 'user_profile' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
