{% extends 'gestion/base.html' %}
{% load i18n %}

{% block title %}{% trans "Edit Profile" %}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title text-center mb-4">{% trans "Edit Profile" %}</h1>
        <form method="post" class="p-4">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="{{ form.first_name.id_for_label }}" class="col-sm-3 col-form-label text-end"><strong>{{ form.first_name.label }}</strong></label>
                <div class="col-sm-9">
                    {{ form.first_name }}
                </div>
            </div>
            <div class="row mb-3">
                <label for="{{ form.last_name.id_for_label }}" class="col-sm-3 col-form-label text-end"><strong>{{ form.last_name.label }}</strong></label>
                <div class="col-sm-9">
                    {{ form.last_name }}
                </div>
            </div>
            <div class="row mb-3">
                <label for="{{ form.document_id.id_for_label }}" class="col-sm-3 col-form-label text-end"><strong>{{ form.document_id.label }}</strong></label>
                <div class="col-sm-9">
                    {{ form.document_id }}
                </div>
            </div>
            <div class="row mb-3">
                <label for="{{ form.email.id_for_label }}" class="col-sm-3 col-form-label text-end"><strong>{{ form.email.label }}</strong></label>
                <div class="col-sm-9">
                    {{ form.email }}
                </div>
            </div>
            <div class="row mb-3">
                <label for="{{ form.phone.id_for_label }}" class="col-sm-3 col-form-label text-end"><strong>{{ form.phone.label }}</strong></label>
                <div class="col-sm-9">
                    {{ form.phone }}
                </div>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
                <a href="{% url 'user_profile' %}" class="btn btn-outline-secondary">{% trans "Back" %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
