{% extends 'gestion/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg">
            <div class="card-body p-5">
                <h2 class="card-title text-center mb-4">{% trans "Login" %}</h2>
                <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-lg">{% trans "Login" %}</button>
                </div>
            </form>
            <div class="text-center mt-3">
                <a href="{% url 'create_passenger' %}">{% trans "Don't have an account? Register" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
