{% extends 'gestion/base.html' %}

{% block title %}Reporte de Pasajeros{% endblock %}

{% block content %}
    <h1>Reporte de Pasajeros para el Vuelo: {{ vuelo.origen }} a {{ vuelo.destino }}</h1>
    <table>
        <thead>
            <tr>
                <th>Pasajero</th>
                <th>Asiento</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
                <tr>
                    <td>{{ reserva.pasajero.nombre }} {{ reserva.pasajero.apellido }}</td>
                    <td>{{ reserva.asiento.numero }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
