{% extends 'gestion/base.html' %}

{% block title %}Boleto Electrónico{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Boleto Electrónico
        </div>
        <div class="card-body">
            <h5 class="card-title">Vuelo: {{ reserva.vuelo.origen }} a {{ reserva.vuelo.destino }}</h5>
            <p class="card-text"><strong>Pasajero:</strong> {{ reserva.pasajero.nombre }} {{ reserva.pasajero.apellido }}</p>
            <p class="card-text"><strong>Fecha de Salida:</strong> {{ reserva.vuelo.fecha_salida|date:"d/m/Y H:i" }}</p>
            <p class="card-text"><strong>Fecha de Llegada:</strong> {{ reserva.vuelo.fecha_llegada|date:"d/m/Y H:i" }}</p>
            <p class="card-text"><strong>Asiento:</strong> {{ reserva.asiento.numero }}</p>
            <p class="card-text"><strong>Fecha de Reserva:</strong> {{ reserva.fecha_reserva|date:"d/m/Y H:i" }}</p>
        </div>
    </div>
{% endblock %}
